<!doctype html>
<html lang="sk">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Web{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'site.css' %}">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    {% include "partials/nav.html" %}
    <main class="container">
      {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.html" %}
  </body>
</html>
